i:hover {
    color: #8EDAFC;
}

#app {
    background-color: #EAEAEA;
}

.bg-div-1, .bg-div-2 {
    position: absolute;
    left: 0;
    right: 0;
}

.bg-div-1 {
    top: 0;
    height: 20vh;
    background-color: #2E9688;
}

.bg-div-2 {
    bottom: 0;
    height: 80vh;
    background-color: #D8DBD7;
}

.my-app-container {
    padding: 16px 0;
    max-width: 1350px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.sistem-alert {
    background-color: #8EDAFC;
}

.contact-list {
    background-color: #FFFFFF;
}

.contact-active {
    background-color: #E9EBEB;
}

.user-icon-container img {
    width: 50px;
}

.user-info {
    cursor: pointer;
}

.user-last-message {
    font-size: .5rem;
    position: absolute;
    right: 5px;
    top: 5px
}

.top-menu-icon-container {
    font-size: 23px;
    color: gray;
    cursor: pointer;
}

.sistem-alert-icon {
    font-size: 27px;
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;

}

.contact-active {
    background-color: #E9EBEB;
}

.contact-list {
    min-height: 100%;
}

.contact-messages {
    background-image: url('../img/mine.jpg');
}

.new-message-icons {
    font-size: 20px;
    flex-shrink: 0;
    padding: 1rem 2rem;
    cursor: pointer;
}

.message-container {
    padding: .3rem 2rem;
}

.message-container-sent {
    text-align: right;
}

.message {
    display: inline-block;
    min-width: 40%;
    max-width: 70%;
    border-radius: 10px;
    text-align: left;
}

.message-sent {
    background-color: #D5F9BA;
}

.message-received {
    background-color: #FFFFFF;
}

.message-text {
    font-size: .8rem;
    padding: .4rem .4rem .1rem .6rem;
}

.message-date {
    font-size: .6rem;
    text-align: right;
    padding: 0 .4rem .3rem 0;
}

.my-dropdown {
    position: absolute;
    padding: .3rem .7rem;
    right: 0;
    top: 0;
    font-size: .8rem;
    cursor: pointer;
}

.message.position-relative:not(:hover) .my-dropdown-toggle {
    opacity: 0;
}

.my-dropdown .dropdown-menu{
    font-size: .8rem;
}


